backports.ssl-match-hostname==3.4.0.2
biopython==1.65
Django==1.7.3
django-extensions==1.5.0
django-grappelli==2.6.4
django-sslify-admin==0.5.0
gunicorn==19.1.0
ipython==2.3.1
Jinja2==2.7.3
MarkupSafe==0.23
numpy==1.9.1
pandas==0.15.2
PasteDeploy==1.5.2
patsy==0.3.0
psycopg2==2.4.6
python-dateutil==1.5
pytz==2014.9
pyzmq==14.5.0
scipy==0.15.1
six==1.9.0
statsmodels==0.6.1
tornado==4.0.2
uWSGI==2.0.9
